<!doctype html>
<html>
<%- include('./partials/head.ejs') %>


<body class="font-[Montserrat] bg-gradient-to-t from-[#B2533E] via-[#FCE09B] to-[#B5CB99] via-[#186F65] h-screen">
  
    <%- include('./partials/navbarused.ejs') %>
   

    <%- include('./partials/script.ejs') %>
</body>

</html>