<!doctype html>
<html>
<%- include('./partials/head.ejs') %>


<body class="font-[Montserrat] bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] h-screen">
  
    <%- include('./partials/navbarused.ejs') %>


    <%- include('./partials/script.ejs') %>
</body>

</html>