<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="h-auto md:h-screen py-32" style="background: linear-gradient(90deg, #186F65, #B5CB99 25%, #FCE09B 50%, #B2533E);">
        <div class="container mx-auto">
            <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden">
                <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center"
                    style="background-image: url('back.png');">
                    <h1 class="text-[#A2C579] text-center text-7xl mb-10"
                        style="font-family: 'IBM Plex Sans', sans-serif;">All ready onboard!</h1>
                    <div class="text-[#F9B572] flex text-6xl text text-center"
                        style="font-family: 'IBM Plex Sans', sans-serif;">Cool!</div>
                </div>
                <div class="w-full lg:w-1/2 py-16 px-12" style="font-family: 'Montserrat', sans-serif;">
                    <h2 class="text-4xl mb-4 text-center text-[#B2533E]">Enter your email and password.</u></h2>
                    <form id="loginForm">
                        <div class="mt-5">
                            <p class="text-sm m-1 text-[#B2533E]"> Email: </p>
                            <input type="text" id="user_email" name="email" placeholder="johndoe@example.com"
                                class="border text-[#186F65] border-[#186F65]  py-1 px-2 w-full rounded-lg">
                            <div id="email_error" class="text-sm text-[#D21312]"></div>
                        </div>
                        <div class="mt-5">
                            <p class="text-sm m-1 text-[#B2533E]"> Password:</p>
                            <input type="password" id="user_password" name="password" placeholder="Password"
                                class="border text-[#186F65] border-[#186F65] py-1 px-2 w-full rounded-lg">
                            <div id="password_error" class="text-sm text-[#D21312]"></div>
                        </div>
                        <div class="mt-5">
                            <button type="submit"
                                class="w-full bg-[#186F65] hover:bg-[#B2533E] py-3 text-center text-white rounded-xl">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const emailError = document.getElementById('email_error');
        const passwordError = document.getElementById('password_error');
        const form = document.getElementById('loginForm');

        form.addEventListener('submit', (event) => {
           
            const emailInput = document.getElementById('user_email');
            const passwordInput = document.getElementById('user_password');
            const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            
            if (!emailRegex.test(emailInput.value) || passwordInput.value.trim() === "" ) {
                event.preventDefault();
                emailError.innerHTML = "Please enter a valid email address.";
                passwordError.innerHTML = "Password is required.";
            

            }
            else{
                form.submit();
            }

                   
        });
    </script>
</body>
</html>
